.sidebar
  .menu
  %ul
    %li.side-item
      .icon
        %i.fa.fa-area-chart
      %ul.dropdown.dash
        %li
          =link_to admin_path do
            %h3 DASHBOARD
    %li.side-item
      .icon
        %i.fa.fa-pencil
      %ul.dropdown.post
        %li
          %h3 POST
        =link_to new_admin_post_path do
          %li NEW POST
        =link_to admin_posts_path do
          %li ALL POSTS
    %li.side-item
      .icon
        %i.fa.fa-list
      %ul.dropdown.category
        %li
          %h3 CATEGORIES
        =link_to new_admin_category_path do
          %li NEW CATEGORY
        =link_to admin_categories_path do
          %li ALL CATEGORIES
    %li.side-item
      .icon
        %i.fa.fa-cogs
      %ul.dropdown.settings
        %li
          =link_to "" do
            %h3 SETTINGS
    %li.side-item
      .icon
        %i.fa.fa-user
      %ul.dropdown.profile
        %li
          %h3 PROFILE
        =link_to admin_author_path(Author.last.id) do
          %li MANAGE PROFILE
        =link_to "" do
          %li ADD AUTHOR
