=render "admin/nav"
%h3 Drafts
%br
-if @unpublished_posts.empty?
  You have no drafts.
  =button_to "New Draft", new_admin_post_path, method: :get, class: "button"
-else
  =render partial: "admin/posts/index", locals: { posts: @unpublished_posts }
