@import "contact";
@import "footer";
@import "index";
@import "navigation";
@import "poster";
@import "sidebar";

hr {
  margin: 1em 0;
}

.container {
  padding: 1em;
  @include media($large-screen) {
    padding: 0;
  }
}

.card {
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.5);
}
.card-full {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 2em;
}

input[type="button"] {
  border-radius: 0;
  padding: 1em;
  font-weight: 300;
  border: 1px solid;
  background: none;
  &:hover {
    background: darken(#fff, 20);
  }
}

.blog {
  @include row;
  background: $card-color;
  position: relative;
  overflow: hidden;
  .first-lines {
    font-size: 1.5em;
  }
  img {
    max-width: 100%;
    height: auto !important;
  }
}

.comment {
  @include clearfix();
  background: $card-color;
  .comment-header {
    @include row();
    h2 {
      float: left;
    }
  }
  .comment-button {
    float: right;
  }
  .comment {
    @include row();
    padding: 1em;
  }
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: transparentize($dark-gray, 0.5);
}

.plus {
  border-radius: 50%;
  background: white;
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: 30;
  color: $dark-gray;
  text-align: center;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  .plus-inner {
    position: relative;
    top: 10px;
  }
}

.dark-hr {
  border-bottom: 1px solid $dark-gray;
}

.thin {
  font-weight: 300;
}

.fat {
  font-weight: 700;
}

.tag {
  padding: 0.5em 1em;
  color: white;
  display: inline;
}
.tag-diy {
  background: $yellow;
}
.tag-organizing {
  background: $blue;
}
.tag-weddings {
  background: $aqua;
}

.tag-closets {
  background: $aqua;
}

.tag-kitchen {
  background: $blue;
}

.tag-holidays {
  background: $yellow;
}
