@import "footer";
@import "index";
@import "navigation";
@import "poster";
@import "sidebar";
@import "social_card";
@import "tile";
@import "modal";
@import "page_header";
@import "contact";


body {
  @include background(url("gplaypattern.png"))
}

#flash {
  background: $brick;
  & > div {
    padding: 10px 0;
    color: white;
    @include outer-container;
  }
}

hr {
  margin: 1em 0;
}

.container {
  padding: 1em;
  @include media($large-screen) {
    padding: 0;
  }
}

.card {
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.4);
}
.card-full {
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 2em;
}

input[type="button"] {
  border-radius: 0;
  padding: 1em;
  font-weight: 300;
  border: 1px solid;
  background: none;
  &:hover {
    background: darken(#fff, 20);
  }
}

.btn {
  color: white;
  padding: 1em 1.5em;
}

.btn-full {
  width: 100% !important;
}

.btn-outline {
  background: none !important;
  color: $base-accent-color !important;
  border: 1px solid !important;
  &:hover {
    background: lighten($base-accent-color, 30) !important;
  }
}

.blog {
  @include row;
  background: $card-color;
  position: relative;
  overflow: hidden;
  .first-lines {
    font-size: 1.5em;
  }
  img {
    max-width: 100%;
    height: auto !important;
  }
}

.icon-list {
  @include clearfix();
  text-align: center;
  .facebook {
    color: $facebook;
    &:hover {
      color: darken($facebook, 15);
    }
  }
  .pinterest {
    color: $pinterest;
    &:hover {
      color: darken($pinterest, 15);
    }
  }
}

.comment {
  @include clearfix();
  background: $card-color;
  .comment-header {
    @include row();
    h2 {
      float: left;
    }
  }
  .comment-button {
    float: right;
  }
  .comment {
    @include row();
    padding: 1em;
  }
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: transparentize($dark-gray, 0.2);
}

.dark-hr {
  border-bottom: 1px solid $dark-gray;
}
.thick-hr {
  border-bottom: 4px solid #ddd;
}

.thin {
  font-weight: 300;
}

.fat {
  font-weight: 700;
}

.tag {
  color: white;
  padding: 0.75em 2em;
  display: inline;
  position: relative;
  white-space: nowrap;
  z-index: 50;
  left: -20px;
  top: 20px;
  &:hover {
    color: darken(white, 15);
  }
}

.poster-tag {
  left: 0;
  top: 0;
  font-size: 0.8em;
  @include media($large-screen) {
    font-size: 1em;
  }
}

.tag-diy {
  background: $yellow;
}
.tag-organizing {
  background: $blue;
}
.tag-weddings {
  background: $aqua;
}

.tag-closets {
  background: $aqua;
}

.tag-kitchen {
  background: $blue;
}

.tag-holidays {
  background: $yellow;
}
