.content-poster {
  .content {
    position: relative;
    bottom: 0;
  }
}
.contact-form {
  h2 {
    font-size: 3em;
  }

  input {
    padding: 0.3em;
    font-size: 1.2em;
  }

  textarea {
    @include span-columns(12);
    border-radius: 0;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .name, .email {
    @include media($large-screen) {
      @include span-columns(4);
    }
    margin-bottom: 1em;
  }
}
