.nav {
  color: $dark-gray;
  a {
    color: $dark-gray;
    &:hover {
      color: lighten($dark-gray, 15);
    }
  }
  @include clearfix();
  .banner {
    @include row();
    float: left;
  }
  .title {
    float: left;
    font-size: 1em;
  }
  .tagline {
    display: none;
  }
  i {
    float: right;
  }
  @include media($large-screen) {
    margin-top: 1em;
    text-align: center;
    .banner {
      float: none;
    }
    .title {
      font-size: 3em;
      float: none;
      letter-spacing: 0.4em;
      line-height: 0.8em;
      margin-left: 0.4em;
    }
    br {
      display: none;
    }
    .tagline {
      display: block;
      font-size: 1.3em;
      letter-spacing: 4px;
      font-weight: 300;
      float: none;
      line-height: 2em;
    }
    i {
      display: none;
    }
  }
  .nav_menu {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    padding: 0.5em 0;
    display: block;
    background: white;
    z-index: 20;
    a li {
      display: block;
    }
    @include media($large-screen) {
      @include row();
      display: block;
      border-top: 1px solid;
      position: static;
      padding: 0.5em 0;
      display: block;
      background: none;
    }
    a li {
      display: inline-block;
      width: percentage(1/6);
      font-size: 1.3em;
    }
  }
}
