.search {
  display: none;
}

.page_header {
  @include clearfix;
  padding: 1.2em;
  background: $primary;
  color: white;
  margin-bottom: 1.5em;
  @include media($large-screen) {
    padding: 2em;
  }
  h2 {
    font-size: 1.8em;
    padding-bottom: 0.2em;
    @include media($large-screen) {
      font-size: 2em;
      padding-bottom: 0;
    }
  }
  .left {
    @include media($large-screen) {
      @include span-columns(9);
    }
  }
  .right {
    text-align: right;
    font-size: 1.2em;
    @include media($large-screen) {
      @include span-columns(3);
    }
    a {
    }
    form.search-bar {
      color: $dark-gray;
      position: relative;

      input[type=search] {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        background: none;
        color: white;
        border-bottom: 1px solid white;
      }

      button[type=submit] {
        @include button(flat, $base-accent-color);
        @include position(absolute, 0em 0em 0em null);
        border-radius: 0;
        outline: none;
        background: none;
        padding: 5px 15px;
        &:hover {
        }
      }
    }
  }
}
