.poster {
  position: relative;
  height: 400px;
  width: 100%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 2em;
  background-size: cover !important; // This is necessary because the image is added via inline styling.
  .overlay {
    position: absolute;
    z-index: 10;
    $overlay-primary: tomato;
    $overlay-secondary: #215478;
    @include background(linear-gradient(transparentize($overlay-primary, 0.3), transparentize($overlay-secondary, 0.3)));
    height: 100%;
    width: 100%;
  }
  .content {
    position: absolute;
    z-index: 20;
    bottom: 0;
    color: white;
    padding: 2em;
    .text {
      position: relative;
      margin-top: 0.5em;
      font-size: 1em;
      @include media($large-screen) {
        font-size: 2em
      }
    }
    .buttons {
      .button-primary, .button-secondary {
        float: right;
        margin-right: 10px;
      }
      .button-primary input {
        background: $primary;
      }
      .button-secondary input {
        background: $secondary;
      }
    }
  }
}
