.sidebar {
  text-align: center;
  .welcome {
    background: $card-color;
    .welcome-picture {
      height: 200px;
      width: 200px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }
    .greeting {
      padding: 1em 0;
      text-align: center;
      .meet, .name {
        font-size: 2em;
      }
      .meet {
        font-weight: 300;
      }
      .name {
        font-weight: 700;
      }
      p {
        text-align: justify;
      }
    }
    .call-to-action {
      @include row();
      h3 {
        font-weight: 300;
      }
      .email_field {
        width: 100%;
        padding: 0.55em;
        margin: 0.5em 0;
        &:nth-child(2) {
        }
      }
      .icon-list {
      }
    }
    .category-block {
      @include clearfix();
      text-align: center;
      @include hyphens(auto);
      a {
        @include span-columns(6);
        &:nth-child(2n) {
          @include omega();
        }
      }
      li {
        border-radius: 50%;
        position: relative;
        background-size: cover !important; // This is necessary because the image is added via inline styling.
        height: 100px;
        width: 100px;
        margin: 0 auto;
        @include transition(all 0.2s ease-in-out);
        &:hover {
          border: 4px solid;
        }
        h3 {
          position: relative;
          z-index: 20
        }
      }
    }
  }

  .related-blogs-block {
    a {
      color: white;
    }
  }

  .blog-archive-block {
    background: $card-color;
    h3 {
      font-weight: 300;
    }
    strong {
      cursor: pointer;
    }
    text-align: left;
    .archive-list {
      display:none;
    }
    .archive_list {
      margin: 0 0 0 0.5em;
    }
  }
}
