%li.tile.card-full
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / The Realistic Organizer
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-7600043945930923", "data-ad-format" => "auto", "data-ad-slot" => "7538925094", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
