%li.tile.card-full
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / The Realistic Organizer Footer 1
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-7600043945930923", "data-ad-format" => "auto", "data-ad-slot" => "4166656291", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});

%li.tile.card-full
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / Footer Ad
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8810425887317356", "data-ad-format" => "auto", "data-ad-slot" => "2572883225", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
