%input#modal-message.modal-state{:type => "checkbox"}/
.modal-window
  .modal-inner
    %label.modal-close{:for => "modal-message"}
    For work inquiries please fill out our more detailed form.
    =link_to "Detailed Form", new_message_path, class: "btn"
    %hr
    =simple_form_for :message, url: messages_path , method: :post do |f|
      =f.input :name, label: false, placeholder: "Name"
      =f.input :email, label: false, placeholder: "Email"
      =f.input :body, as: :text, label: false, placeholder: "Enter your message here..."
      =f.submit "Submit"
