.poster{style: "background-image: url('#{attachment_url(@contact_poster, :image, :fill, 800, 500)}')"}
  .overlay
    .content
      .text
        %h2= @contact_poster.body.html_safe
      =button_to "WORK WITH ME", new_message_path, method: :get
