.poster{style: "background-image: url('#{attachment_url(@contact_poster, :image, :fill, 800, 500)}')"}
  .overlay
    .content
      .text
        %h2= @contact_poster.body.html_safe
      .modal
        %label{:for => "modal-message"}
          .btn.btn-warning.modal-trigger{style: "text-align: center;"} WORK WITH ME
        =render "shared/message_modal"
