.sidebar
  .welcome.card
    = image_tag attachment_url(Author.last, :avatar, :fill, 300, 300), class: 'welcome-picture'
    .greeting
      %span.meet MEET
      %span.name= Author.last.first_name.upcase
      %p= Author.last.short_bio(200)
    .call-to-action
      %h3 NEVER MISS A POST
      %input
      = button_tag "SUBSCRIBE"
