.container
  = render "nav"
  .main
    =render partial: "posts/poster", locals: { post: @post }
    .card.blog
      =@post.body.html_safe
  .sidebar
    = render partial: "posts/sidebar"
= render "posts/social_card"
= render "footer"
