.container
  = render "nav"
  .welcome-post
    =render partial: "contact_poster"
  .card.blog
    .contact-item#recent-projects
      =image_tag attachment_url(@recent_projects, :image, :fill, 200, 200), class: "welcome-picture"
      .body
        %h3.thin RECENT
        %h3.fat PROJECTS
        =@recent_projects.body.html_safe
        .small
          =link_to "RECENT PROJECTS", category_path(Category.find_by_name("Recent Projects")), class: "btn-outline btn-full", style: "text-align: center;", method: :get
    .contact-item#about-me
      =image_tag attachment_url(@about_me, :image, :fill, 200, 200), class: "welcome-picture"
      .body
        %h3.thin ABOUT
        %h3.fat ME
        =@about_me.bio.html_safe
        .small
          =link_to "VIEW", about_path, class: "btn-outline btn-full", style: "text-align: center;", method: :get
    .contact-item#work-with-me
      =image_tag attachment_url(@work_with_me, :image, :fill, 200, 200), class: "welcome-picture"
      .body
        %h3.thin WORK
        %h3.fat WITH ME
        =@work_with_me.body.html_safe
        .small
          =link_to "WORK WITH ME", new_message_path, class: "btn-outline btn-full",  method: :get
    .contact-item.no-small
      =link_to "RECENT PROJECTS", category_path(Category.find_by_name("Recent Projects")), class: "btn-outline btn-full", style: "text-align: center;", method: :get
    .contact-item.no-small
      =link_to "VIEW", about_path, class: "btn-outline btn-full", style: "text-align: center;", method: :get
    .contact-item.no-small
      =link_to "WORK WITH ME", new_message_path, class: "btn-outline btn-full",  method: :get
  .index
    %ul.index_row
      - @posts.each do |p|
        = render partial: "shared/tile", locals: { p: p, cat: p.categories.first }
= render "footer"
