.sidebar {
  padding: 1em;
  position: fixed;
  left: -250px; top: 0; bottom: 0;
  width: 250px;
  background: $dark-gray;
  z-index: 100;
  color: $light-gray;
  .toggle_menu {
    @include transition(all 0.5s ease);
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 10px;
    right: -60px;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    background: $base-accent-color;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    .toggle_menu_inner {
      position: relative;
      top: -12px;
      color: white;
      font-size: 48px
    }
  }
  .spin {
    @include transform(rotate(135deg));
    background: $brick;
  }
  .settings {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
  }
  .sidebar-welcome {
    @include row();
    .avatar {
      width: 50px;
      float: left
    }
    .author {
      float: left;
      vertical-align: middle;
      padding: 12px 5px;
    }
  }
  .side-item {
    margin: 1em 0;
    li {
      padding-left: 15px;
      &:hover {
        color: lighten($base-accent-color, 10);
        background: lighten($dark-gray, 15);
      }
    }
  }
}
.show-sidebar {
  left: 0;
}
