.sidebar {
  cursor: pointer;
  padding: 1em;
  position: fixed;
  left: -250px; top: 0; bottom: 0;
  width: 250px;
  background: $dark-gray;
  z-index: 100;
  color: $light-gray;
  .toggle_menu {
    @include transition(all 0.5s ease);
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 10px;
    right: -60px;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    background: $base-accent-color;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    .toggle_menu_inner {
      position: relative;
      top: -6px;
      color: white;
      font-size: 40px
    }
  }
  .spin {
    @include transform(rotate(135deg));
    background: $brick;
  }
  .sidebar-welcome {
    @include row();
    .avatar {
      width: 50px;
      float: left
    }
    .author {
      float: left;
      vertical-align: middle;
      padding: 12px 5px;
    }
  }
  li a {
    color: $light-gray;
  }
  .side-item {
    margin: 1.5em 0;
    ul { display: none }
    li {
      padding-left: 15px;
      margin: 1em 0;
    }
  }
}
.show-sidebar {
  left: 0;
}
