.header
  %h2.page Post
  .actions
    =link_to "All Posts", "", class: "item"
    =link_to "Preview", "", class: "item"
    =link_to "", class: "item warning" do
      %i.fa.fa-trash.fa-lg
    =link_to "", class: "item primary" do
      %i.fa.fa-save.fa-lg
%hr.thick
