.header
  %h2.page POSTS
  .actions
    =link_to "Search", "", class: "item"
    =link_to "List View", "", class: "item"
    =link_to "", class: "item" do
      Category
      %i.fa.fa-angle-down
    =link_to "", class: "item" do
      Sort
      %i.fa.fa-angle-down
    =content_tag :button, new_admin_post_path, class: "item", method: :get do
      NEW
%hr.thick
