.header
  %h2.title Posts
  = button_to "New Post", new_admin_post_path, method: :get, class: "new"
%hr
.body
  %ul
    - @posts.each do |p|
      %li
        = link_to p.title, admin_post_path(p.id)
        = link_to "Delete", admin_post_path(p.id), method: :delete, confirm: "Are you sure?"
