.header
  %h2.page CATEGORIES
  .actions
    =link_to "All Categories", admin_categories_path, class: "item"
    =link_to "View Site", root_url, class: "item"
    =content_tag :button, new_admin_category_path, class: "item", method: :get do
      New Category
%hr.thick
