=render "admin/nav"
.body
  .index
    - @categories.each do |c|
      .card
        =link_to edit_admin_category_path(c), style: "color: white;" do
          -if c.image_id?
            .image{style: "background: url('#{attachment_url(c, :image, :fill, 200, 200)}') no-repeat center; background-size: cover"}
          -else
            .image{style: "background: url('http://placehold.it/200x200&text=No%20Image') no-repeat center; background-size: cover"}
          .content
            .title
              %strong=c.nice_name
            %hr.thick{style: "border-color: #{c.tag_color}"}
            = "#{c.posts.count} posts"
        %ul.action
          %li
            =link_to category_path(c) do
              %i.fa.fa-location-arrow
          %li
            =link_to edit_admin_category_path(c) do
              %i.fa.fa-pencil
