.blog-archive-block.card
  %h3 BLOG ARCHIVE
  %hr
  %ul.archive-list
    =link_to posts_path, remote: true do
      %li JANUARY
      %li FEBRUARY
      %li MARCH
      %li APRIL
      %li MAY
      %li JUNE
      %li JULY
      %li AUGUST
      %li SEPTEMBER
      %li OCTOBER
      %li NOVEMBER
      %li DECEMBER
