.blog-archive-block.card
  %h3 BLOG ARCHIVE
  %hr
  %ul
    -@posts.each do |month, post|
      %li.archive-month
        %strong= month.strftime("%B %Y")
        %ul.archive-list
          -post.each do |p|
            %li
              =link_to p.title, p
