.poster{style: "background-image: url('#{attachment_url(post, :image, :fill, 800, 500)}')"}
  .overlay
    .content
      - post.categories.each do |category|
        =link_to category do
          %span.tag{style: "background: #{category.tag_color}"}= category.nice_name.upcase
      .text
        %h2= @post.title
