.welcome.card
  = image_tag attachment_url(Author.last, :avatar, :fill, 300, 300), class: 'welcome-picture'
  .greeting
    %span.meet MEET
    %span.name= Author.last.first_name.upcase
    %p= Author.last.short_bio(200)
  .call-to-action
    =render "shared/message_modal"
    .icon-list
      %hr
      =link_to "" do
        .fa.fa-pinterest-square.fa-3x
      =link_to "" do
        .fa.fa-facebook-square.fa-3x
      =link_to "" do
        .fa.fa-instagram.fa-3x
      =link_to "" do
        .fa.fa-google-plus-square.fa-3x
      =link_to "" do
        .fa.fa-rss-square.fa-3x
    %hr
    %h3 NEVER MISS A POST
    %input.email_field
    = button_tag "SUBSCRIBE"
