.container
  = render "nav"
  .main
    =render partial: "poster", locals: { post: @post }
    .blog.card
      = @post.body.html_safe
    .comment.card
      .comment-header
        %h2 COMMENTS
      %hr
      #disqus_thread
        :javascript
          var disqus_shortname = 'therealisticorganizer';
  .sidebar
    =render partial: "sidebar", locals: { p: @post }
    =render partial: "related_block", locals: { p: @post }
    =render partial: "archives", locals: { p: @post }
= render "social_card"
= render "footer"
