.container
  = render "nav"
  = render partial: "shared/page_header", locals: { title: @category.nice_name, q: @q }
  .index
    = render partial: 'shared/index', locals: { cat: @category, limit: nil }

= render "footer"
