.footer
  .container(style="margin-bottom: 0;")
    .footer-header
      .title
        %span.thin THE
        %span.fat REALISTIC
        %span.fat ORGANIZER
      %ul
        %li ABOUT
        %li SITE MAP
        %li REPORT A PROBLEM
      %ul
        %li WORK WITH ME
        %li PARTNERS
        %li CONTACT
      %ul
        %li PINTEREST
        %li INSTAGRAM
        %li FACEBOOK
