.header-bg {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 15em;
  background: $mint;
  z-index: -10;
}

.welcome-post {
  @include clearfix();
  .main {
  }
  .sidebar {
    display: none;
    @include media($large-screen) {
      display: block;
    }
  }
  .poster {
    margin-bottom: 5%;
  }
}
